.projectCard {
  max-width: 300px;
  min-height: 550px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  l &:hover {
    box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 10px 5px 0px rgba(0, 0, 0, 0.75);
  }
}

.projectImageContainer {
  min-height: 200px;
  width: 100%;
  .projectImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    // transform: translate(-50%, -50%);
  }
}

.textContainer {
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  color: black;
  padding: 1rem;
  border-radius: 0px 0px 20px 20px;
  gap: 2rem;
}

.cardTitle {
  font-size: 1.5rem;
  font-weight: 700;
}

.cardDescription {
  font-size: 14px;
}

.technologyContainer {
  margin-top: auto;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  color: black;
  font-size: 12px;
}

.technology {
  text-transform: lowercase;
  background-color: #d9d9d9;
  padding: 3px 10px 3px 10px;
  border-radius: 12px;
}
