@use "src/base" as base;

.catContainer {
  background-color: base.$primary-color;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;

  .loading {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    // background-color: white;
    .lds-ring {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }
    .lds-ring div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 64px;
      height: 64px;
      margin: 8px;
      border: 8px solid #fff;
      border-radius: 50%;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: #fff transparent transparent transparent;
    }
    .lds-ring div:nth-child(1) {
      animation-delay: -0.45s;
    }
    .lds-ring div:nth-child(2) {
      animation-delay: -0.3s;
    }
    .lds-ring div:nth-child(3) {
      animation-delay: -0.15s;
    }
    @keyframes lds-ring {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  .catCardHolder {
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    .catCard {
      width: 25rem;
      height: 25rem;
      background-color: lightblue;
      img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        object-fit: fit;
      }
    }
  }
}
