@use "src/base" as base;

@media (min-width: 641px) {
  .header {
    .hamburgerIcon {
      display: none;
    }
  }
}

@media (max-width: 640px) {
  .header {
    .button {
      display: none;
    }
    .hamburgerIcon {
      margin-left: 1.25rem;
      display: flex;
      justify-content: center;
      width: 44px;
      height: 44px;
      cursor: pointer;

      .img {
        background-color: white;
        object-fit: fit;
      }
    }
  }
}

.header {
  background-color: base.$primary-color;
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  height: 100%;
  display: flex;
  .button {
    font-size: 1.5rem;
    font-family: base.$font-stack;
    margin: auto;
    color: white;
    font-weight: 700;
    font-style: normal;
    a {
      all: unset;
    }
    &:hover {
      color: #f6490d;
      cursor: pointer;
    }
  }
}
