// _base.scss

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap");
$font-stack: "Fira Code", monospace;
$primary-color: #000249;
$primary-fcolor: white;

body {
  font-family: $font-stack;
  background-color: $primary-color;
  color: $primary-fcolor;
  margin: 0;
  padding: 0;
}
