html {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#root {
  max-height: -webkit-fill-available;
  height: 100vh;
}

.siteContainer {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 5rem 1fr 30px;
  grid-template-columns: 1fr;
}

.headerContainer {
  grid-area: header;
}

.mainContainer {
  grid-area: main;
}

.footerContainer {
  grid-area: footer;
  background-color: white;
}
